<%- include('./partials/header') %> 
<% if (errors) { %>
  <div class="mt-1 errors p-1">
    <ul>
        <% errors.forEach(error => { %>
            <li class="text-yellow-500"><%= error.msg %> </li>
           <% }) %>
    </ul>
</div>
 <% } %>
<div class="bg-black shadow-md self-center justify-self-center mt-12 h-1/3 w-1/3">
    <h1 class="text-yellow-500 text-center" >Sign Up</h1>
    <form class="flex flex-col items-center justify-center" action="/sign-up" method="POST">
        <label class="text-yellow-500" for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label class="text-yellow-500" for="firstname">First Name</label>
        <input name="firstname" placeholder="First Name" type="text" />
        <label class="text-yellow-500" for="lastname">Last Name</label>
        <input name="lastname" placeholder="Last Name" type="text" />
        <label class="text-yellow-500" for="password">Password</label>
        <input name="password" type="password" />
        <label class="text-yellow-500" for="passwordConf">Confirm Password</label>
        <input name="passwordConf" type="password" />
        <button class="bg-yellow-400 m-1 p-1">Submit</button>
      </form>
</div>

<%- include('./partials/footer') %> 